# Copy this file as terraform.tfvars
# Set values according to your tenant settings
#  In this lab your tenant must provide at least :
#   - one external or public network with FIPs available

# mandatory values
cloud           = # cloud name as defined in your clouds.yaml file
sshKey          = # your public ssh key value ( 1 line like "ssh-rsa ..." )


# optional values
publicNetwork   = # your tenant's public network name - default value : "internet"
CIDR            = # your private CIDR - default value : "192.168.1.0/24"
imageURL        = # qcow2 image URL - default value : "http://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img"
infraName       = # your infrastructure prefix name - default value : "terraform"
DNSServers      = # your prefered array of DNS servers - default value : ["8.8.8.8", "8.8.8.4"]
ansibleManaged  = # true if instance is managed by ansible (installs required packages) - default value : false
nbInfraNodes    = # number of Infra (controller) nodes - default value : 0
nbLogNodes      = # number of Log nodes - default value : 0
nbComputeNodes  = # number of Compute nodes - default value : 0
nbStorageNodes  = # number of Storage nodes - default value : 0
