# Copy this file as terraform.tfvars
# Set values according to your tenant settings
#  In this lab your tenant must provide at least :
#   - one external or public network with FIPs available
#   - one flavor

# mandatory values
sshKey = your public ssh key value ( 1 line like "ssh-rsa ..." )
externalNetworkID = # your tenant's external network ID - see "openstack network list"
flavorName = # any of your tenant's flavor name for your instances - see "openstack flavor list"

# optional values
poolFIP = # your tenant's external network name - default value : "internet"
CIDR = # your private CIDR - default value : "192.168.1.0/24"
imageURL = # qcow2 image URL - default value : "http://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img"
infraName = # your infrastructure prefix name - default value : "terraform"
