# Copy this file as terraform.tfvars
# Set values according to your tenant settings
#  In this lab your tenant must provide at least :
#   - one external or public network with FIPs available

# mandatory values
cloud           = # cloud name as defined in your clouds.yaml file
flavorName      = # name of an available flavor on your tenant. It will be used for each node

# optional values
pubKeyFile      = # your public ssh key file name
privKeyFile     = # your private ssh key file name - required if provisioner is used
nbWorkers       = # number of worker instances - defaut value : 1
publicNetwork   = # your tenant's public network name - default value : "internet"
service_CIDR    = # service network CIDR - default value : "192.168.1.0/24"
worker_CIDR     = # worker network CIDR - default value : "192.168.2.0/24"
imageURL        = # qcow2 image URL - default value : "http://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img"
infraName       = # your infrastructure prefix name - default value : "terraform"
DNSServers      = # your prefered array of DNS servers - default value : ["8.8.8.8", "8.8.8.4"]
useProvisioner  = # true if provisioner is used to install packages, etc...- default value : false
